/* 1. EL CONTENEDOR PRINCIPAL */
.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* Usamos el Azul Oscuro como fondo para dar sensación "Premium/Tech" */
    background-color: var(--azul-oscuro); 
    margin: 0;
}

/* 2. LA TARJETA BLANCA */
.form-card {
    background: var(--blanco);
    padding: 3rem;
    border-radius: 16px; /* Bordes un poco más suaves */
    /* Sombra elegante usando el azul oscuro */
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: 5px solid var(--naranja); /* Un detalle de marca arriba */
}

/* Título de la tarjeta */
.form-card h2 {
    font-family: var(--font-heading);
    text-align: center;
    margin-bottom: 10px;
    font-size: 3rem;
    font-weight: 700;
    color: var(--azul-oscuro);
}

/* 3. INPUTS Y ETIQUETAS */
.form-label {
    font-weight: 600;
    color: var(--azul-oscuro);
    margin-bottom: 8px;
    display: block;
    font-size: 0.95rem;
}

.form-input {
    width: 100%;
    padding: 14px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    font-size: 16px;
    font-family: var(--font-body);
    transition: all 0.3s ease;
    outline: none;
}

/* Al hacer click, se pone del Azul Claro de la marca */
.form-input:focus {
    border-color: var(--azul-claro);
    box-shadow: 0 0 0 4px rgba(42, 181, 227, 0.1);
}

/* 4. BOTONES */
.form-button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 700;
    font-family: var(--font-heading);
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: var(--azul-claro);
    color: var(--blanco);
        margin-top: 10px;

}

.form-button:hover { 
    background-color: var(--azul-oscuro);
}

/* Texto de "¿No tienes cuenta?" */
.text-center {
    text-align: center;
    color: var(--gris);
    font-size: 0.9rem;
    margin-bottom: 5px;
}