/* Contenedor principal del Header */
.site-header {
  background-color: var(--azul-oscuro);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

/* Alineación interna */
.header-container {
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

/* --- LOGOTIPO --- */
.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: transform 0.2s;
}

.logo-link:hover {
  transform: scale(1.02);
}

.logo-image {
  height: 3rem;
  width: auto;
  margin-right: 0.5rem;
}

.logo-text {
  font-family: var(--font-heading);
  color: var(--texto-claro);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-left: 0.5rem;
}

/* --- NAVEGACIÓN --- */
.nav-desktop {
  display: flex;
}

.nav-desktop-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Enlaces del menú */
.menu-link {
  color: var(--texto-claro);
  font-family: var(--font-body);
  font-weight: 500;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  margin-left: 0.25rem;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
}

.menu-link:hover {
  background-color: var(--blanco);
  color: var(--texto-oscuro-hover);
}

/* Separador vertical */
.nav-separator {
  border-left: 1px solid rgba(42, 181, 227, 0.5);
  height: 1.5rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

/* --- BOTONES DEL HEADER --- */
/* Estilos base para botones */
/* .btn {
  font-weight: 500;
  padding: 0.5rem 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-left: 0.5rem;
  border: none;
  cursor: pointer;
  font-family: var(--font-body);
  transition: background-color 0.2s, color 0.2s, transform 0.1s;
} */

/* .btn:active {
  transform: scale(0.98);
} */

.btn:hover {
  background-color: var(--blanco);
  color: var(--texto-oscuro-hover);
}

/* Botón Iniciar Sesión */
.btn-login {
  background-color: var(--azul-claro);
  color: var(--texto-claro);
}

/* Botón Registrarse */
.btn-register {
  background-color: var(--naranja);
  color: var(--texto-claro);
}

@media (max-width: 900px) {
  .nav-desktop {
    display: none;
  }
}